<?xml version="1.0"?>
<phpunit
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 bootstrap="tests/phpunit/bootstrap.php"
 backupGlobals="false"
 colors="true"
 displayDetailsOnPhpunitDeprecations="true"
 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix=".php">./tests/phpunit/tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>